.swiper-wrapper {
    width: 100vw;
    height: auto;
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide > img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all 0.2s linear;
}

.swiper-slide-prev > img, .swiper-slide-next > img, .swiper-slide > img {
    height: 15vw;
    width: 15vw;
}

.swiper-slide-active > img {
    width: 30vw;
    height: 30vw;
}

@media screen and (max-width: 600px) {
    .swiper-slide > img {
        height: 100vw;
        width: 100vw;
    }
}

