:root {
    --color-accent1: #e31baa;
    --color-accent2: #0af2fa;
    --goToPageHighlightSize: 4px; 
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-between;
    width: 100%; /* Full width */
    height: 5vh;
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1;
    font-size: 1rem;
}

.leftNav {
    display: flex;
    margin-left: 1rem;
    align-items: end;
    gap: 1rem;
}
.rightNav {
    display: flex;
    align-items: end;
    font-size: 2rem;
    grid-column: 2/3;
    margin-right: 1rem;
}

.logo {
    border-radius: 30px;
    height: 5vh;
    width: 5vh;
}

.logoName {
    margin: 0;
}

.pageLinks {
    display: flex;
    margin:0;
    padding: 0;
}

.pageLinks * {
    box-sizing: border-box;
    transition: all .35s ease;
  }

  .pageLinks li {
    display: inline-block;
    list-style: outside none none;
    padding:0;
    cursor: pointer;
  }

  .pageLinks a {
    padding: .5em .8em;
    font-size: .5em;
    color: rgba(255, 255, 255, .5);
    position: relative;
    text-decoration: none;
  }

  .pageLinks a::before,
  .pageLinks a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }

  .pageLinks a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: var(--goToPageHighlightSize) solid var(--color-accent1);
    border-right: var(--goToPageHighlightSize) solid var(--color-accent2);
    transform: translate(-100%, 50%);
  }

  .pageLinks a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: var(--goToPageHighlightSize) solid var(--color-accent1);
    border-left: var(--goToPageHighlightSize) solid var(--color-accent2);
    transform: translate(100%, -50%);
  }

  .pageLinks a:hover:before,
  .pageLinks a:hover:after {
    transform: translate(0,0);
    opacity: 1;
  }
  
  .pageLinks a:hover {
    color: white;
  }