.aboutSection {
    display: flex;
    height: 100vh;
    width: 100%;
    padding-top: 5vh;
    scroll-snap-align: start;
    justify-content: space-around;
}

.aboutInfo {
    padding-top: 1rem;
    padding-left: 1rem;
    text-wrap: auto;
    z-index: 2;
    font-size: 1.5rem;
}

.skillSet {
    align-self: center;
}

.skillsetText {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .aboutSection {
        flex-direction: column;
        justify-content: flex-start;
    }

    .aboutInfo {
        font-size: 1rem;
    }
}
